<h2 mat-dialog-title>Add Booking Details</h2>
<div class="addBooking-container">

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="newBooking.name" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Venue</mat-label>
    <input matInput [(ngModel)]="newBooking.venue" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Start Time</mat-label>
    <input matInput [(ngModel)]="newBooking.startTime" type="datetime-local">
  </mat-form-field>

  <mat-form-field>
    <mat-label>End Time</mat-label>
    <input matInput [(ngModel)]="newBooking.endTime" type="datetime-local">
  </mat-form-field>

  <mat-form-field>
  <mat-label>Attendees</mat-label>
  <mat-select [(ngModel)]="newBooking.attendeeList" multiple>
    <mat-option *ngFor="let member of members" [value]="member._id">{{member.firstName}}</mat-option>
  </mat-select>
</mat-form-field>

</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="addBooking()">Add Booking</button>
</mat-dialog-actions>
